html,
body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div {
    padding: 0;
    margin: 0;
}
/* Navigation
-------------------------------------------------- */


nav{
    position: initial;
    background-color: #eee;
    min-height: 48px;
    width: 100%;
    /*overflow: hidden;*/
    font-size: 1.1em;
    line-height: 48px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    z-index: 1;
}

nav.fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-top: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none outside none;
}

nav ul li {
    padding: 0;
    margin: 0 1.1em;
    display: inline-block;
    float: left;
    height: 48px;
    box-sizing: border-box;
}

nav ul li a,
nav .user-menu a{
    color: #222;
    text-decoration: none;
}

nav ul li:hover a{
    color: #222;
}

nav ul li:hover{
    border-bottom: 3px solid #c60c30;
}

nav ul li.active{
    font-weight: 600;
    border-bottom: 3px solid #c60c30;
}

nav ul li.brand{
    padding-top: 5px;
    padding-bottom: 5px;
}

nav ul li.brand img{
    height: 38px;
}

nav ul li.brand:hover{
    border: none;
}

nav div{
    display: inline-block;
}

nav .controls>div{
    padding: 0 1em;
}

nav .controls .search{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

nav .controls .search input{
    margin: 0;
    padding: 0 0 0 1em;
    height: 48px;
    background: none;
    border: none;
}

nav .controls .search input:focus{
    border: none;
}

nav .controls .user .language{
    margin-right: .5em;
    border: 2px solid #ddd;
    padding: 1px 0;
}

nav .controls .user .language a{
    display: inline-block;
    text-decoration: none;
    color: #999;
    line-height: 1em;
    padding: 5px;
    background: #ddd;
}

nav .controls .user .language a:hover{
    color: #222;
    text-decoration: underline;
}

nav .controls .user .language a.active{
    color: #222;
    background: none;
}

nav .user-menu{
    text-align: center;
}

nav .user-menu .dropdown-menu{
    line-height: 1.2em;
    width: 300px;
}

nav .user-menu .dropdown-menu hr{
    margin: 15px 0;
}


nav .user-menu a{
    display: inline-block;
    padding: 0 .5em;
}
nav .user-menu.open a.dropdown-toggle{
    background: #ddd;
}

nav .user-menu form{
    width: 300px;
    margin-bottom: -10px;
}

nav .user-menu form input,
nav .user-menu button{
    width: 100%;
}

nav .user-menu form a#forgot-password{
    font-size: 1rem;
}

nav .user-menu .or{
    line-height: 50px;
}

nav .user-menu .or:before,
nav .user-menu .or:after{
    width: 120px;
    height: 1px;
    background: #E1E1E1;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    content: " ";
}

nav .user-menu .or:after{
    width: 120px;
}

nav .user-menu .dropdown-toggle .avatar {
    display: inline-block;
    position: relative;
    overflow:hidden;
    width: 36px;
    height: 36px;
    border: 1px solid #ddd;
    border-radius: 100%;
    box-sizing: border-box;
    margin: 6px 0.4em 6px 0;
    vertical-align: top;
    padding: 0;
}

nav .user-menu .dropdown-toggle  .avatar .avatar-img {
    width: 36px;
    height: auto;
    vertical-align: top;
}

nav .user-menu .user-profile{
    text-align: left;
}

nav .user-menu .user-profile .avatar {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 100px;
    height: 100px;
    border-radius: 0;
    box-sizing: border-box;
    padding: 0;
}

nav .user-menu .user-profile .avatar .avatar-img {
    width: auto;
    height: 100px;
    vertical-align: top;
}

nav .user-menu .user-profile .avatar a {
    display: inline-block;
    position: absolute;
    right: 6px;
    bottom: 6px;
    padding: 0;
    color: white;
}

nav .user-menu .user-profile .avatar a:hover {
    color: #ccc;
}

nav .user-menu .user-profile .profile-contents{
    margin-left: 10px;
    font-size: 0.9em;
    line-height: 1.2em;
    width: 184px;
    height: 100px;
    display: inline-block;
    position: relative;
}

nav .user-menu .user-profile .profile-contents .name{
    font-weight: bold;
}

nav .user-menu .user-profile .profile-contents button{
    width: 115px;
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 0;
}

nav .user-menu .user-profile .profile-contents .language{
    position: absolute;
    right: 0;
    bottom: 4px;
    padding: 0;
    margin: 0;
}

nav .user-menu ul li{
    display: block;
    width: 100%;
    margin: 0 0 10px 0;
    height: auto;
    float: none;
    text-align: left;
}

nav .user-menu ul li:hover{
    border: none;
}

nav .user-menu ul li a{
    padding: 0;
}


/* Header
-------------------------------------------------- */

header{
    position:relative;
    overflow: hidden;
    max-height: 200px;
}

header:before{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    background: #c60c30;
    content: "";
    opacity: 0.6;
    z-index: 1;
}

header .hero {
    display: block;
    position: relative;
    overflow:hidden;
    width: 100%;
    float: left;
    padding: 0px;
    text-align: center;
    border-left: 1px solid white;
    box-sizing: border-box;
}

header .hero .hero-img {
    max-height: 200px;
    width: auto;
    vertical-align: middle;
}

header .hero .hero-text {
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 9px 16px;
    text-align: left;
    font-size: 1.7em;
    font-weight: 600;
    color: white;
}

header .hero:first-child{
    border-left:none;
}

@media (min-width: 400px) {
    header .hero{
        width: 100%;
    }
}

@media (min-width: 550px) {
    header .hero{
        width: 50%;
    }
}

@media (min-width: 750px) {
    header .hero{
        width: 33.3333%;
    }
}

@media (min-width: 1000px) {
    header .hero{
        width: 33.3333%;
    }
}

@media (min-width: 1200px) {
    header .hero{
        width: 25%;
    }
}


@media (min-width: 1500px) {
    header .hero{
        width: 20%;
    }
}

/* Content
-------------------------------------------------- */

.container{
    display: block;
    padding: 50px 0;
}

.sponsors{
    text-align: center;
    padding: 0;
    color: #999;
}

.sponsors .sponsor{
    height: 100px;
    line-height: 100px;
    text-align: center;
    display: inline-block;
    margin: 0 -4px 0 0;
    width: 25%;
    border-radius: 10px;
    opacity: 0.4;
    font-size: 2em;
    color: #c60c30;
    box-sizing: border-box;
}

.sponsors .sponsor:hover{
    opacity: 1;
}


/* Dropdowns
-------------------------------------------------- */

.dropdown{
    position: relative;
}
.dropdown-menu{
    display:none;
    position:absolute;
    left: 0;
    top: 100%;
    float:left;
    z-index: 1000;
    background: white;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    border-radius: 4px;
    padding: 15px 21px;
}

.open > .dropdown-menu {
    display: block;
}

.u-pull-right .dropdown-menu {
    right: 0;
    left: auto;
}

nav .dropdown-menu{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

/* Newsfeed
-------------------------------------------------- */
.announcements .newsitem{
    margin-bottom: 1.5em;
}

.announcements .newsitem .title{
    font-size: 1.2em;
}
